body {
    background-color: #569834;
    font-family: Arial, sans-serif;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .phone {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
    height: 630px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .screen {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

    h1{
    text-align: center;
  }

  #display{
    font-size: 20px;
  }

  #enrollButton{
    width: 100%;
    height: 50px;
  }