body {
  background-color: #569834;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.phone {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
  height: 630px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.screen {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h3 {
  text-align: center;
}

.approval-status {
  display: block;
  text-align: center;
  align-items: right;
  justify-content: center;
  background-color: #569834;
  color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.approval-status i {
  font-size: 50px;
}

.valor-Compra {
  text-align: center;
  padding: 10px;
  font-size: 25px;
  background-color: rgb(209, 209, 209);
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#valor-compra {
  font-size: 24px;
  font-weight: bold;
}

.informacoes-Pagamento{
  display: block;
  text-align: center;
  padding: 30px;
  background-color: rgb(209, 209, 209);
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#forma-pagamento, #condicao-pagamento {
  text-align: left;
}

.tempo {
  display: flex;
}

#btn-newCompra{
  display: block;
  width: 100%;
  height: 70px;
  font-size: 30px;
  background-color: #569834;
  color: white;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#btn-newCompra:hover{
  background-color: #4a832d;
}