{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Inserção do Favicon -->
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png">
    <title>Forma de Pagamento</title>
    <!-- CSS Bootsratp-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- CSS da página -->
    <link rel="stylesheet" href="{% static 'css/styles_FormaPagamento.css' %}">
  </head>
  <body>
    <div class="container">
      <div class="phone">
        <div class="screen">
          <h2>Selecione uma opção de pagamento:</h2>
          <div id="display" class="display"></div>
          <div class="payment-options">
            <div class="btn-group dropdown">
              <button class="btn btn-primary dropdown-toggle btn-block" id="btn-parcelado" data-bs-toggle="dropdown" aria-expanded="false">
                Pagamento parcelado
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="#" onclick="calculateParcela(1)">1x</a></li>
                <li><a class="dropdown-item" href="#" onclick="calculateParcela(2)">2x</a></li>
                <li><a class="dropdown-item" href="#" onclick="calculateParcela(3)">3x</a></li>
                <li><a class="dropdown-item" href="#" onclick="calculateParcela(4)">4x</a></li>
                <li><a class="dropdown-item" href="#" onclick="calculateParcela(5)">5x</a></li>
                <li><a class="dropdown-item" href="#" onclick="calculateParcela(6)">6x</a></li>
                <li><a class="dropdown-item" href="#" onclick="calculateParcela(7)">7x</a></li>
                <li><a class="dropdown-item" href="#" onclick="calculateParcela(8)">8x</a></li>
                <li><a class="dropdown-item" href="#" onclick="calculateParcela(9)">9x</a></li>
                <li><a class="dropdown-item" href="#" onclick="calculateParcela(10)">10x</a></li>
              </ul>
            </div>
            <a href="{% url 'verifica_Digital' %}"><button class="btn btn-primary btn-block" id="btn-confirma">Confirmar</button></a>
          </div>
          <div id="result"></div>
        </div>
      </div>
    </div>
    <!-- JavaScript da página -->
    <script src="{% static 'js/scripts_formaPagamento.js' %}"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
